.wraper {
  width: 100vw;
  height: 100vh;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.895);

  font-family: var(--font_inter);
  font-size: 16px;
  font-weight: 300;
  color: var(--text_light);
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.content img {
  border-radius: 15px;
}

.vertical {
  max-height: 80vh !important;
  width: calc(80vh * 0.667);
}

.horizontal {
  max-width: 80vw !important;
  height: calc(80vw * 0.667);
}
