.wraper {
  width: 100vw;
  height: 100vh;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.895);

  font-family: var(--font_inter);
  font-size: 16px;
  font-weight: 300;
  color: var(--text_light);
}

.close {
  position: absolute;
  top: 50px;
  right: 50px;
}

.content_wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content_wraper svg {
  padding: 0 20px;
  cursor: pointer;
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.content img {
  border-radius: 15px;
}

.vertical {
  max-height: 80vh !important;
  width: calc(80vh * 0.667);
}

.horizontal {
  max-width: 80vw !important;
  height: calc(80vw * 0.667);
}

.previous {
  rotate: 180deg;
}

.previous,
.next,
.close {
  cursor: pointer;
}

/* Animation */

.animaInPrevious {
  opacity: 0;
  transform: translateX(-150px);
  animation: animaIn 0.3s ease forwards;
}

.animaInNext {
  opacity: 0;
  transform: translateX(150px);
  animation: animaIn 0.3s ease forwards;
}

@keyframes animaIn {
  to {
    opacity: initial;
    transform: initial;
  }
}

.animaOutNext {
  opacity: 1;
  transform: translateX(0);
  animation: animaOutNext 0.3s ease forwards;
}

@keyframes animaOutNext {
  to {
    opacity: 0;
    transform: translateX(-150px);
  }
}

.animaOutPrevious {
  opacity: 1;
  transform: translateX(0);
  animation: animaOutPrevious 0.3s ease forwards;
}

@keyframes animaOutPrevious {
  to {
    opacity: 0;
    transform: translateX(150px);
  }
}
