.shows_wraper {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.shows_wraper h3 {
  font-family: var(--font_oswald);
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--text_dark);

  margin: 70px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 100px;
}
