.wraper {
  width: 50%;

  background-color: #d9d9d9;
  color: var(--text_dark);
  padding: 50px 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: var(--font_inter);
  font-size: 14px;
  font-weight: 400;
}

.wraper h4 {
  font-family: var(--font_oswald);
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.wraper span {
  color: rgb(149, 3, 3);
}

.wraper form {
  display: flex;
  flex-direction: column;
  gap: 21px;

  width: 100%;
  max-width: 580px;
  padding: 21px 20px 0;

  text-align: left;
}

.wraper input,
.wraper textarea {
  width: 100%;
  background-color: #ffffff73;
  border: 0.5px solid var(--text_dark);
  border-radius: 7px;

  margin-top: 7px;

  padding: 5px;
}

.wraper input {
  height: 40px;
}

.wraper textarea {
  height: 200px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.wraper form button {
  width: 200px;
  height: 40px;

  border: 0.5px solid var(--text_dark);
  border-radius: 8px;

  margin-top: 20px;
  align-self: center;

  cursor: pointer;
}

.wraper form button:hover {
  background-color: #fff;
}

.wraper form button[type="submit"] {
  background-color: rgb(169, 208, 169);
}

.wraper form button[type="submit"]:hover {
  background-color: rgb(215, 232, 215);
}

.empty {
  border: 1px solid #b60505 !important;
}
