.wraper {
  width: 50%;
  background-color: #403e3a;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--text_light);
  text-align: center;

  padding: 0 20px;
}

.wraper h4 {
  font-family: var(--font_oswald);
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;

  margin-bottom: 35px;
}

.wraper p {
  font-family: var(--font_inter);
  font-size: 16px;
  font-weight: 300;

  margin-bottom: 8px;
}

.name {
  text-transform: uppercase;
}

.instagram {
  display: flex;
  gap: 7px;

  align-items: center;
  margin-bottom: 60px;
}

.instagram p {
  font-family: var(--font_quicksand);
  font-weight: 500;
  color: #fe7070;
  text-transform: lowercase;
}
