.wraper {
  height: 50vh;
  width: 100vw;
  margin-top: var(--margin_navbar);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content h3 {
  font-family: var(--font_oswald);
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: var(--text_dark);
}
